{% extends "AppInmobiliaria/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h2>Las mejores casas para comprar</h2>

<h3>Listado de casas:</h3>

<body>
    <div class="container">
        <table class="table text-center">
            <thead>
                <tr style="color: black;">
                    <td>Calle</td>
                    <td>Numero</td>
                    <td>Cantidad de pisos</td>
                    <td>Habitaciones</td>
                    <td>Baños</td>
                    <td>Precio de venta</td>
                </tr>
            </thead>
            <tbody>
                {% if casa %}
                {% for casa in casa %}
                    <tr>
                        <td>{{casa.direccion}}</td>
                        <td>{{casa.numero}}</td>
                        <td>{{casa.pisos}}</td>
                        <td>{{casa.habitaciones}}</td>
                        <td>{{casa.banos}}</td>
                        <td>{{casa.precio}}</td>
                    </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</body>

<h5>Quieres vender una casa?</h5>
<form actiom="{% url 'casas' %}" method="POST">{% csrf_token %}
    <p>Calle: <input type="text" name="direccion" id="direccion"></p>
    <p>Numero: <input type="number" name="numero" id="numero"></p>
    <p>Pisos: <input type="number" name="pisos" id="pisos"></p>
    <p>Habitaciones: <input type="number" name="habitaciones" id="habitaciones"></p>
    <p>Baños: <input type="number" name="banos" id="banos"></p>
    <p>Precio de venta: <input type="number" name="precio" id="precio"></p>
    <input type="submit" value="Enviar">
</form>

{% endblock %}

{% block titulo %}

    <h1>Bienvenidos a CoderHouse </h1>
    <h2>Su inmobiliaria de confianza!</h2>

{% endblock %}